fieldset, .mailresult{
	display: block;
	position: relative;
	width: 100%;
	margin: 40px 0;
	padding: 10px 30px 30px;
	box-sizing: border-box;
	background: #f9f8f6;
	border: 0px;
}
fieldset label{
	display: block;
	margin-top: 14px;
	font-weight: 300;
}
fieldset input, fieldset textarea{
	display: block;
	border: 1px solid #ddd;
	background: #fff;
	padding: 12px;
	box-sizing: border-box;
}
fieldset input{
	width: 50%;
}
fieldset textarea{
	width: 100%;
}
input:focus, select:focus, textarea:focus{
	outline: none;
	border: 1px solid #fff;
	box-shadow: 0 0 2px #000;
}
fieldset input[type="submit"]{
	background: #e0474c; 
	color: #fff;
}
fieldset input[type="submit"]:hover{				
	background: #cc4146; 
	cursor: pointer;
}
.error{
	color: red;
}